<div class="event-list-container">

<% @events.each do |event| %>

<div class="event-card">
  <p> <%= event.title %> </p>
  <p> Commence le: <%= event.start_date %> </p>
  <%= link_to "Voir l'évenement", event_path(event.id)%>
</div>

<% end %>

</div>
