/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');

 .pixel {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
}


body{
  background-color: rgb(36, 36, 36);
  font-size: 25px;
}

h1{
  color: blue;
}

 li {
    list-style-type: none;
 }

 .centered-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
 }

 .event-card{
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: grey;
   border-radius: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom: 10px;
 }

 a{
  color: rgb(0, 0, 0);
 }

 a:hover{
  color: #000;
  text-decoration: underline;
 }